*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

hs_err_pid*
/SACOBA/nbproject/private/
/SACOBA/build/
/SACOBA/dist/

/SACOBA_Chat/build/
/SACOBA_Chat/dist/
/SACOBA_Chat/nbproject/private/

#Sublime files
*.sublime-workspace
*.sublime-project
